@import "tailwindcss";

@source not "./daisyui{,*}.mjs";

@plugin "./daisyui.mjs";

/* Optional for custom themes – Docs: https://daisyui.com/docs/themes/#how-to-add-a-new-custom-theme */
@plugin "./daisyui-theme.mjs"{
  /* custom theme here */
}

@plugin "daisyui" {
  prefix: "daisy-";
}

h1 { font-size: 2rem;   font-weight: bold; }
h2 { font-size: 1.8rem; font-weight: semibold; }
h2 { font-size: 1.6rem; font-weight: semibold; }
