.w-full
  .mb-8.flex.items-end.gap-3
    = image_tag 'icons/flaticon-new-wine.png', class: 'w-20 h-20'
    %h1.text-primary= t('.title')

  = render "form", wine: @wine

  .mt-4.text-end
    = link_to t('.go_to_show'), @wine, class: "daisy-btn"
