= content_for :title, t('.title_tab')

.w-full
  .mb-8.flex.items-end.gap-3
    = image_tag 'icons/flaticon-new-wine.png', class: 'w-20 h-20'
    %h1.text-primary= t('.title')

  = render "form", wine: @wine
